In [1]:
import numpy as np

In [2]:
name_list = ['小明','小華','小菁','小美','小張','John','Mark','Tom']
sex_list = ['boy','boy','girl','girl','boy','boy','boy','boy']
weight_list = [67.5,75.3,50.1,45.5,80.8,90.4,78.4,70.7]
rank_list = [8,1,5,4,7,6,2,3]
myopia_list = [True,True,False,False,True,True,False,False]

In [29]:
dt=np.dtype('U5,U5,i8,i8,U5')

In [35]:
dt = np.dtype({'names':('Name','Sex', 'num1', 'num2', 'True'), 'formats':('U5', 'U5',float, int, bool)})

In [36]:
ans=np.zeros(8,dtype=dt)
ans

array([('', '', 0., 0, False), ('', '', 0., 0, False),
       ('', '', 0., 0, False), ('', '', 0., 0, False),
       ('', '', 0., 0, False), ('', '', 0., 0, False),
       ('', '', 0., 0, False), ('', '', 0., 0, False)],
      dtype=[('Name', '<U5'), ('Sex', '<U5'), ('num1', '<f8'), ('num2', '<i8'), ('True', '?')])

In [37]:
print(ans.dtype)

[('Name', '<U5'), ('Sex', '<U5'), ('num1', '<f8'), ('num2', '<i8'), ('True', '?')]

In [38]:
ans['Name']=name_list
ans['Sex']=sex_list
ans['num1']=weight_list
ans['num2']=rank_list
ans['True']=myopia_list

In [39]:
'Ans1'
print(ans)

[('小明', 'boy', 67.5, 8,  True) ('小華', 'boy', 75.3, 1,  True)
 ('小菁', 'girl', 50.1, 5, False) ('小美', 'girl', 45.5, 4, False)
 ('小張', 'boy', 80.8, 7,  True) ('John', 'boy', 90.4, 6,  True)
 ('Mark', 'boy', 78.4, 2, False) ('Tom', 'boy', 70.7, 3, False)]

In [40]:
ans_rec=ans.view(np.recarray)

In [41]:
'Ans2'
np.mean(ans_rec.num1)

69.8375

In [44]:
Ans2=np.where(ans['Sex']=='boy',"Y","N")

In [45]:
Ans2

array(['Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y'], dtype='<U1')

In [52]:
print(np.sum(Ans2=="Y"))

6

In [53]:
np.sum(np.where(Ans2=="Y",ans['num1'],0))/6

77.18333333333334

In [56]:
'Ans3'
print(np.sum(Ans2=="N"))
np.sum(np.where(Ans2=="N",ans['num1'],0))/2

2

47.8